.section-contacto {
    .h1-contacto {
        background-color: lawngreen;
    }

    p {
        text-align: center;
        font-size: 1.2rem;
        padding: 1em;
    }

    iframe {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        padding: 1em;
        width: 95%;
        height: 300px;
    }
}

.contactanos {
    background-color: black;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 8px 40px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    border: 2px solid greenyellow;
    margin: 0 auto;
    width: 90%;
    font-size: 1rem;
    margin-top: 15px;

    .formulario {
        outline: none;
        padding: .3em;
        border: 1px solid yellowgreen;
        margin: 10px;

    }

    .p-contacto-formulario {
        text-align: center;
        font-size: 1rem;
        padding-bottom: 1em;
        color: white;
    }

}

.div-formulario textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    border: 1px solid yellowgreen;
    margin: 10px auto;
}

.c-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;

    & label {
        text-align: center;
        color: white;
    }
}

.boton-enviar {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;

    & :hover {
        cursor: pointer;
        background-color: rgba(126, 252, 0, 0.658);
    }

    & input {
        font-size: 1rem;
        background-color: rgba(207, 203, 203, 0.714);
        padding: 0.5em;
        border: 1px solid yellowgreen;
    }
}

.medios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    .envios {
        border: 1px solid black;
        border-radius: 15px;
        margin: 30px;

        p {
            padding: .3;
            padding-bottom: 1em;
        }

        img {
            padding: 0;
            margin-left: 30px;
        }
    }

    .telefono {
        border: 1px solid black;
        border-radius: 15px;
        margin: 30px;

        p {
            padding: .3;
            padding-bottom: 1em;
        }

        img {
            padding: 0;
            margin-left: 60px;
        }
    }

    .descuento {
        border: 1px solid black;
        border-radius: 15px;
        margin: 30px;

        p {
            padding: .3;
            padding-bottom: 1em;
        }

        img {
            padding: 0;
            margin-left: 50px;
        }
    }
}

@media (min-width: 1024px) {
    .contactanos {
        display: block;
        width: 50%;
        height: 40%;
        padding: 3em;
    }

    .section-contacto {
        p {
            font-size: 1.4rem;
        }

        iframe {
            height: 60vh;
        }
    }

    .medios {
        flex-direction: row;

        .envios {
            width: 350px;
            height: 350px;
        }

        .telefono {
            width: 350px;
            height: 350px;
        }

        .descuento {
            width: 350px;
            height: 350px;
        }
    }

}