.inicio {
    .h1-index {
        text-shadow: 4px 4px 6px blue;
        font-size: 1.5rem;
    }

    h2 {
        text-align: center;
        font-size: 1.4rem;
    }

    p {
        text-align: center;
        padding: 1em;
        font-size: 1.2rem;
    }
}