.inicio {
    .h1-index {
        font-size: 1.5rem;
        margin-bottom: 20px;
        text-decoration: underline;
    }

    h2 {
        text-align: center;
        font-size: 1.4rem;
    }

    p {
        text-align: center;
        padding: 1em;
        font-size: 1.2rem;
    }
}

.cupon {
    img {
        width: 100%;
        height: auto;
        padding: 20px;
        object-fit: cover;
    }
}

@media (min-width: 620px){
    .inicio {
        .h1-index {
            font-size: 1.7rem;
        }
    
        h2 {
            font-size: 1.4rem;
        }
    
        p {
            font-size: 1.3rem;
        }
    }
}

@media (min-width: 1024px){
    .inicio {
        .h1-index {
            font-size: 2.2rem;
        }
    
        h2 {
            font-size: 1.6rem;
        }
    
        p {
            font-size: 1.4rem;
        }
    }

    .cupon {
        img {
            width: 50%;
            height: auto;
            padding: 30px;
        }
    }
}