.h1-productos {
    background-color: rgba(255, 0, 255, 0.993);
}

.nav-productos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 9999;

    .logo {
        float: left;
    }

    a {
        color: white;

        &:hover {
            color: magenta;
        }
    }
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 15px;

    h2 {
        text-align: center;
        font-size: 1.2rem;
        padding: .5em;
    }

    button,
    input {
        padding: .5em;
        font-size: 1rem;
        text-align: center;
        cursor: pointer;
        border: solid magenta;
        background-color: rgba(255, 0, 255, 0.331);
        border-radius: 5px;
        width: 60%;
        display: flex;
        margin: auto;
    }

    p {
        text-align: center;
        font-size: 1rem;
        margin: auto;
        padding: .5em;
        width: 60%;
        border: solid magenta;
    }

}

@media (min-width: 1024px) {

    .carrito-productos {
        margin: 15px;
        gap: 30px;

        h2 {
            font-size: 1.5rem;
            padding: 1em;
        }

        button,
        input {
            padding: 1em;
            font-size: 1.3rem;
            width: 40%;
        }

        p {
            font-size: 1.3rem;
            padding: 1em;
            width: 40%;
        }

    }
}