.h1-productos {
    background-color: rgba(255, 0, 255, 0.993);
}

.nav-productos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 9999;

    .logo {
        float: left;
    }

    a {
        color: white;

        &:hover {
            color: magenta;
        }
    }
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 30px;

    h2{
        text-align: center;
        font-size: 1.5rem;
        padding: 1em;
    }

    button, input {
        padding: 1em;
        font-size: 1.3rem;
        text-align: center;
        cursor: pointer;
        border: solid magenta;
        background-color: rgba(255, 0, 255, 0.331);
        border-radius: 5px;
        width: 40%;
        display: flex;
        margin: auto;
    }

    p {
        text-align: center;
        font-size: 1.3rem;
        margin: auto;
        padding: 1em;
        width: 40%;
        border: solid magenta;
    }

}